/* themes/theme-dracula.css */

/* Dracula Theme */
:root {
  --body-bg-color: #282a36;
  --text-color: #f8f8f2;
  --heading-color: #ff79c6;
  --link-color: #8be9fd;
  --primary-color: #50fa7b;
  --secondary-color: #6272a4;
  --accent-color: #bd93f9;
  --highlight-color: #ffb86c;
  --timer-bg-color: #44475a;
  --timer-border-color: #6272a4;
  --timer-hover-bg-color: #343746;
  --timer-active-bg-color: #44475a;
  --blink-green-color: #50fa7b;
  --blink-red-color: #ff5555;
  --day-bg-color: #282a36;
  --section-color-dynamic-warmup: #8be9fd;
  --section-color-main-workout: #50fa7b;
  --section-color-cool-down: #bd93f9;
}
