/* themes/theme-monokai.css */

/* Monokai Theme */
:root {
  --body-bg-color: #272822;
  --text-color: #f8f8f2;
  --heading-color: #f92672;
  --link-color: #66d9ef;
  --primary-color: #a6e22e;
  --secondary-color: #75715e;
  --accent-color: #fd971f;
  --highlight-color: #a6e22e;
  --timer-bg-color: #3e3d32;
  --timer-border-color: #75715e;
  --timer-hover-bg-color: #49483e;
  --timer-active-bg-color: #3e3d32;
  --blink-green-color: #a6e22e;
  --blink-red-color: #f92672;
  --day-bg-color: #1e1f1c;
  --section-color-dynamic-warmup: #66d9ef;
  --section-color-main-workout: #a6e22e;
  --section-color-cool-down: #fd971f;
}
