/* themes/theme-60s.css */

/* 60s Theme */
:root {
  --body-bg-color: #ffefd5; /* PapayaWhip */
  --text-color: #008080; /* Teal */
  --heading-color: #ff69b4; /* HotPink */
  --link-color: #ffa500; /* Orange */
  --primary-color: #ff1493; /* DeepPink */
  --secondary-color: #32cd32; /* LimeGreen */
  --accent-color: #ff4500; /* OrangeRed */
  --highlight-color: #9400d3; /* DarkViolet */
  --timer-bg-color: #fafad2; /* LightGoldenRodYellow */
  --timer-border-color: #008080; /* Teal */
  --timer-hover-bg-color: #eee8aa; /* PaleGoldenRod */
  --timer-active-bg-color: #ffdead; /* NavajoWhite */
  --blink-green-color: #32cd32; /* LimeGreen */
  --blink-red-color: #ff4500; /* OrangeRed */
  --day-bg-color: #fff8dc; /* Cornsilk */
  --section-color-dynamic-warmup: #ff69b4; /* HotPink */
  --section-color-main-workout: #32cd32; /* LimeGreen */
  --section-color-cool-down: #ffa500; /* Orange */
}
