/* themes/theme-solarized-light.css */

/* Solarized Light Theme */
:root {
  --body-bg-color: #fdf6e3;
  --text-color: #657b83;
  --heading-color: #d33682;
  --link-color: #268bd2;
  --primary-color: #b58900;
  --secondary-color: #93a1a1;
  --accent-color: #2aa198;
  --highlight-color: #859900;
  --timer-bg-color: #eee8d5;
  --timer-border-color: #b58900;
  --timer-hover-bg-color: #e0dbcb;
  --timer-active-bg-color: #d6d0c0;
  --blink-green-color: #859900;
  --blink-red-color: #dc322f;
  --day-bg-color: #fdf6e3;
  --section-color-dynamic-warmup: #268bd2;
  --section-color-main-workout: #859900;
  --section-color-cool-down: #6c71c4;
}
